.card-dash{
    font-family: Gordita;
    width: 16rem;
    height: 127px;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: none;
}

.images-card{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* left: -35px;
    top: -50px; */
    border-radius: 5px 0px 0px 5px;
}

.shop{
    width: 25%;
    float: right;
}

.img-topic{
    position: absolute;
    width: 239px;
    height: 150px;
    top: -30px;
    left: -15px ;
    border-radius: 12px 12px 0px 0px;
}

.title-topic{
    color: #002333;
    font-family: Gordita-bold;
    font-size: 15px;
}

.price-topic{
    color: #3722D3;
    font-size: 12px;
    font-family: Gordita-bold;
}

.icon-topic{
    font-size: 10px;
    font-family: Gordita;
    color: rgba(0, 35, 51, 0.67);
}

.dashboardpict{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
}

.course-dashboard{
    margin: auto;
    width: 225px;
    height: 276px;
    margin-Top: 40px;
    border: "0.2px solid #DFDFFF";

    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px 12px 0px 0px;
}

.price-course-dash{
    color: #3722D3;
    font-size: 14px;
    font-family: Gordita-bold;
}