.title-course{
    color: #3A2C7E;
    font-family: Gordita-bold;    
    font-size: 20px;
}

.sub-title{
  font-family: Gordita;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #392C7E;
}

.img-course{
    position: absolute;
    width: 159px;
    height: 95px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
    border-radius: 10px 10px 0px 0px;
    
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {    
    font-size: 13px;
    margin-top: 2%;
    line-height: 35px;
    text-align: center;
    font-family: Gordita-bold;
    color: white;
    background-color: #3A2C7E;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background: #503eac;
}

.button-purple{
    color: white;
    background-color: #3A2C7E;
}

/* .dropdown-payment{
    background: #DBD9D9;
    border-radius: 5px; 
    color: #3A2C7E;
} */

/* .dropdown-item{
    background: #C5BFE6;
    color: #3A2C7E;
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF0F00;
    -webkit-transition: .4s;
    transition: .4s;
  }  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px; 
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s; 
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3A2C7E;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px  #FF0F00;
  }
  
  input:checked + .slider:before {
    -webkit-transform: tram nslateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
