.toolbar{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0F0F0F;
    height: 56px; */
    /* Rectangle 1 */

    position: absolute;
    width: 1318px;
    height: 78px;
    left: -24px;
    top: 0px;

    background: #0F0F0F;
    width: 101.5%;
}

.toolbar__navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo{
    margin-left: 2rem;
    /* SEKULA */
    position: absolute;
    width: 152px;
    height: 46px;
    /* left: 26px; */
    top: 18px;

    /* font-family: Gordita; */
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;


}

.toolbar__logo a{
    color: white;
    text-decoration: none;
}

/* .toolbar__logo h2{
    font-size: 1.5rem;
} */

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li{
    padding: 0 0.5rem;
}

.toolbar_navigation-items a{
    color: white;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
    color: #fa923f;
}

.picture {
    /* Ellipse 15 */
    position: absolute;
    width: 53px;
    height: 53px;
    left: 93.5%;
    top: 11px;
    background: #C4C4C4;
    border-radius: 50%;
}