.title-course{
    color: #3A2C7E;
    font-family: Gordita-bold;    
    font-size: 20px;
    margin-top: 5%;
}

.img-course{
    position: absolute;
    width: 159px;
    height: 95px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
    border-radius: 10px 10px 0px 0px;
    
}



.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {    
    font-size: 13px;
    margin-top: 2%;
    line-height: 35px;
    text-align: center;
    font-family: Gordita-bold;
    color: white;
    background-color: #3A2C7E;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background: #503eac;
}

