/* @media only screen and (max-width: 1000px) {
  .tulisan {
    position: fixed;
  }
} */

@media only screen and (max-width: 1000px) {
  .tulisan {
    display: none;
  }
}

/* @media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation: portrait) {
  .gambar-course {
    position: fixed;
  }
} */

.container-fluid{
  font-family: Gordita;
}

/* Form */

.form-label{
  font-family: Gordita-bold;
  font-size: 12px;
}

/* Card */

.card{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.ant-comment-inner{
  padding: 25px 25px 0 25px;
}

.navbar-light .navbar-nav .nav-link {
  color: #6831B0;
}

/* .card-body{
  padding: 0.5rem;
  padding-left: 1.2rem;
} */

.card-footer:last-child{
  border: none;
  background-color: #FFFFFF;
  border-radius: none;
}

/* Button */

.tombol-primary{
  border: none;
  border-radius: 0em;
  background: #1D1D95;
}


.icon{
  margin-left: -10%;
  color: #6831B0;
}

.kar{
  margin-top: -15%;
  margin-left: 10%;
}

.bl{
  color: #000000;
}

.img-cat-landing{
  width: 100%;
  padding-left: -90%;
}

/* .content-card-landing {
    margin-top: 10px;
    text-align: center;
    font-family: Gordita;
    font-style: normal;and
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #020288;
} */

.shadow{
  background: #FFFFFF;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.gbr{
  margin-left: 120px;
  margin-top: 120px;
  width: 132px;
  height: 132px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
  width: 170px;
  height: 50px;
  left: 10px;
  top: -21px;
}

.dropdown{
  padding-top: 0px;
}

.close{
  margin-right: 7px;
}

#box{
  width: 370px;
  height: 533px;

  background: #F5F5F5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  }

.forgot-password{
  margin-left: 40px;
}

.subtitle {
    color: #9a9a9a;
    font-size: 18px;
}

.H-Title{
  font-weight: bold;
  font-size: 18px;
  line-height: 3px;
  color: #000000;
  margin-top: 30px;
}

.BodyTitle {
    color: #9a9a9a;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.HeadTitle{
  font-weight: bold;
  font-size: 25px;
  line-height: 3px;
  color: #000000;
}

.line{
  width: 65px;
  height: 4px;
  margin-right: 100%;
  margin-top: -30px;
  background: #3722D3;
  border-radius: 8px;
}

.subtitles{
  color: #505050;
  font-size: 18px;
}

.srch{
  width: 250px;
  height: 33px;
  left: 683px;
  top: 19px;
  background: #EDEDED;
  border-radius: 30px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.1em;
  border: none;
  padding: 13px;
  color: rgba(104, 49, 176, 0.52);
}

#login{
  width: 45px;
  height: 33px;
  margin-right: 30px;
  top: 10px;
  font-family: Gordita;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  background: none;
  /* identical to box height */
}
  
#signup{
    width: 100px;
    height: 33px;
    margin-right: 30px;
    top: 18px;
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    background: #752aca;
    border-radius: 30px;
    border: transparent;
    color: rgb(255, 255, 255);
  
    outline:none;
  }

.Google{
  width: 100%;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
  
.FormEmail, .FormPassword{
  width: 275px;
  margin-left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-grape{
  background: #3A2C7E;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.button-grape:hover{
  background: #503eac;
}

.btn-outline-secondary{
  font-family: Gordita;
  border-radius: 5px;
  /* margin-left: 7%;
  margin-right: 5%; */
}

.ButtonLogin {
  background-color: #000000;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  font-size: 15px;
  margin-left: 20px;
  width: 275px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-left{
  margin-left: 20px;
  margin-top: 150px;
}

.modal-right{
  margin-top: -415px;
  margin-left: 380px;
}

.ButtonSign {
  /* position: absolute; */
  border: none;
  width: 340px;
  height: 39px;
  left: 700px;
  top: 447px;
  color: #FFFFFF;
  display: inline-block;

  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.fa-trash{
  color: red;
}

.img-dash{
  width: 100%;
  
  image-resolution: 100%;
  position: relative;
}

.list-card-landing {
    width: 36%;
    height: 33%;
    position: absolute;

    background: rgba(0, 0, 0, 0.35);
    /* border: 0.2px solid #4E4EB9; */
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: -25%;
    margin-left: 4%;
    /* margin-left: ; */
    text-align: center;
}

.p-card-landing{
  margin-top: 10%;
  color: white;
  /* font-size: 20px; */
  font-family: amiri;
  
}

.header{
  font-size: 50px;
  font-family: amiri;
  font-weight: bold;
}

.body{
  font-family: gordita;
  padding-left: 23%;
  float: left;
  font-size: 15px;
  margin: -9.5%; 
}

.midtext{
  font-size: 32px;
  line-height: 46px;
  font-family: Gordita;
  margin-left: 25%;
  margin-top: 5%;
  color: black;
  font-weight: bold;
}

.soldout{
  width: 90px;
  top: 40px;
  right: 67px;
  position: absolute;
}

.diskon{
  width: 111px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  background-color: #F42C00;
  border-radius: 0px 12px 0px 0px;
}

.diskon2{
  width: 111px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  background-color: #F42C00;
  border-radius: 12px 0px 0px 0px;
}

.newCourse{
  width: 111px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  background-color: #335BE8;
  border-radius: 0px 12px 0px 0px;
}

.bestselling{
  width: 111px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  background-color: #F9C202;
  border-radius: 0px 12px 0px 0px;
}

.end{
  width: 200px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: 15px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  color:rgb(255, 51, 85);
  background-color: pink;
  border-radius: 0px 12px 0px 0px;
}

.now{
  width: 200px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: 15px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  color:rgb(19, 107, 31);
  background-color: rgb(192, 255, 213);
  border-radius: 0px 12px 0px 0px;
}

.soon{
  width: 200px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: 15px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Gordita-bold;
  color:rgb(255, 153, 0);
  background-color: rgb(255, 230, 192);
  border-radius: 0px 12px 0px 0px;
}

.ant-rate{
  font-size: 30px;
}
