.section-title {
    margin-left: 20px;
    font-size: 10px;
    color: #4a4a4a;
}

.bg{
    background-color: #F1F1F1;
    padding-bottom: 50%;
    padding-top: 5%;
    width: 100%;
}

.paginate-user{
    margin-left: 57%;
}

.title-user{
    color: #3722D3;
}

.ButtonAdd-user{
    height: 36px;
    border-radius: 10px;
    margin-left: 53%;
    margin-top: 35px;
    color: white;
    font-family: Gordita;
    font-weight: normal;
    font-size: 12px;
    margin-left: 306px;
    background-color: #3E3180;
    border: none;
    text-decoration: none;
}

.text-user{
    margin-left: 42%;
}

.FormSearch-user{
    margin-left: 41.5%;
    border-radius: 20px;
    margin-bottom: 3%;
}

.post {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 13px;
    font-family: Gordita;
    width: 800px;
    height: 80px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 15px;
    border-radius: 4px;
    background-color: #F9F9F9;
}

/* .card{
    display: flex;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 720px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 4px;
} */

.usr{
    width: 50px;
    height: 50px;
}

.title{
    margin-left: 155px;
}

.srchusr{
    width: 200px;
    height: 33px;
    margin-left: 145px;
  
    background: #F9F9F9;
    border-radius: 30px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.1em;
    border: none;
    padding: 13px;
  
    color: rgba(104, 49, 176, 0.52);
  }

.pht{
    margin-left: 20px;
}

.user{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 20px;
}

.add{
    width: 130px;
    height: 40px;
    margin-left: 620px;
    background-color: #3722D3;
}

.chs{
    width: 90px;
    height: 30px;
    font-size: 12px;
}

.hr{
    border: 2px solid #3722D3;
    width:700px;
}

.hr-user{
    border: 2px solid #3722D3;
    width:730px;
}

.img-thumb {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}


.img-thumb img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.create{
    margin-left: 15px;
}

.content {
    flex: 1;
}

.test{
    width: 100%;
}


.content p.first_name {
    font-size: 10px;
    color: #3d4a6e;
    margin-bottom: 10px;
    text-align: margin-left;
}

.user{
    margin-left: 34%;
    float: right;
}

.bgr{
    background-color: white;
}

.dropdown-toggle{
    background-color: white;
    color: black;
    border: none;
}