.side-drawer{
    height: 100%;    
    background-color: #0F0F0F;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    /* Rectangle 3 */

    /* position: fixed;
    width: 241px;
    height: 1206px;
    left: -5px;
    top: 72px;

    background: #0F0F0F; */

}

.side-drawer ul{
    /* margin-top: 21%; */
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer a{
    color: white;
    text-decoration: none;
    /* margin-top: 6%; */
}

.side-drawer div:active{
    background: #222222;
}

.side-drawer li{
    font-size: 1.5rem;
    list-style-type: none;
}

.vektor1{
    /* Vector */
    position: absolute;
    left: 4.1%;
    right: 12.5%;
    top: 4.7%;
    bottom: 12.5%;
}

.vektor2{
    /* Vector */
    position: absolute;
    left: 4.1%;
    right: 12.5%;
    top: 9%;
    bottom: 12.5%;
}

.vektor3{
    /* Vector */
    position: absolute;
    left: 4.1%;
    right: 12.5%;
    top: 13.7%;
    bottom: 12.5%;
}

.vektor4{
    /* Vector */
    position: absolute;
    left: 3.5%;
    right: 54.17%;
    top: 17.7%;
    bottom: 10.42%;
}

.active{
    /* Rectangle 25 */
    /* position: absolute; */
     /* width: 242px; */
    /* height: 73px; */
    /*left: -5px;
    top: 158px; */
    background: #222222;
}