.footer-h{
    font-family: Gordita-bold;
    color: #FFFFFF;
    font-weight: bold;
}
.footer-list{
    font-family: Gordita;
    color: #FFFFFF;
    font-size: 15px;
}

.store{
    width: 8rem;
    border-radius: 5px;
}

/* .social-media{
    margin-left: 18% ;
} */

.fa-instagram, .fa-twitter, .fa-facebook{
    color: #FFFFFF;
}