@font-face{
  font-family: 'gordita-bold';
  src: url(../components/font/gordita-cufonfonts/Gordita\ Bold.otf);
}
@font-face{
  font-family: 'gordita';
  src: url(../components/font/gordita-cufonfonts/Gordita\ Light.otf);
}

@import '~antd/dist/antd.css';
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.drop{
  /* Vector */
position: absolute;
left: 97%;
right: 5.1%;
top: 45.82%;
bottom: 96.48%;
}
.judul{
  /* SEKULA */
position: absolute;
/* width: 152px;
height: 46px;
left: 24px; */
top: 20px;
/* font-family: Gordita;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 46px; */
/* identical to box height */
/* letter-spacing: 0.1em;
color: #FFFFFF; */
}
ul{
  list-style-type: none;
  display: inline;
}
li{
  color: white;
  margin: 10px 0;
}
img{
  width: 50%;
  display: flex;
}
.gambar{
  width: 20%;
  display: inline;
  margin: 0 5%;
  text-align: center;
}

Title{
  font-family: 'gordita-bold';
}
/* footer{
  font-family: 'gordita';
} */
.ant-menu.ant-menu-dark .ant-menu-item-selected.custom{
  background-color: transparent;
}